# Data Science Tools and Ecosystem

Here is a introductory sentence: In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives
- List popular languages for Data Science
- List of commonly used libraries for Data Science
- a few arithmetic expressions

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Panda
3. NumPy

|Data Science Tools|
:--
Jupyter Notebook
Apache Spark
RStudio

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
minutes= 200
hours= minutes/60
print(hours)

3.3333333333333335

## Author
Tolga Aydin